.back-img {
  position: absolute;
  width: 80%;
  max-width: 800px;
  z-index: -1;
  border-radius: 20px;
}
.cl{
  width:100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:80px;
  font-weight: 100px;
  background-color: rgba(255, 255, 255, 0.836);
  color: $secondary;
  z-index: 3;
  text-align: center;
  flex :display;
  margin-top: 115px;
  h1 {
    padding: 20px;
  }

}

.link-form{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.submit_league{
  margin-top: 10px; 
  align-items: flex-end;
  $btn-color: $primary;
  $btn-hover-color: #dd141c;
  border-color: $btn-color;
  background-color: $btn-color;
  color: #484848;
  overflow: hidden;
  &::before,
  &::after {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: $btn-hover-color;
    transition: all 0.25s;
    content: "";
    z-index: 1;
  }
  &::before {
    top: 0;
    transform: translate(-100%, 0);
  }
  &::after {
    bottom: 0;
    transform: translate(100%, 0);
  }
  &:hover {
    color: #fff;
    &::before,
    &::after {
      transform: translate(0, 0);
    }
}
}

/* .mcontainer{
  width:100%;
  display:flex;
  //border :1px solid blue;
}
.scontainer{
  width: 80%;
  //border :2px solid green;
}
.tcontainer{
  width:20%;
  background-color: white;
  border-radius: 12px;
  //margin-left:16px;
  //border :3px solid red; */
  ul.link_info{
    display:flex;
    /* flex-direction: column ; */
    overflow: scroll;
    justify-content:space-around ;
    align-items: center;
    width: 100%;

    list-style: none;
    //border :1px solid black;
    li{
      /* background-color: rgb(232, 232, 232); */
      padding: 12px 24px;
      min-width: 340px;
      /* border-radius: 8px ; */
      /* box-shadow: 5px 5px 12px grey; */
      width:340px;
      margin:8px;
    }
  }
  .mybtn{
    padding:8px 24px;
    color: $primary;
    text-decoration: none;
    //border-bottom: 3px solid $primary;
    transition: all 0.4s ease-in-out;
    //border-bottom: 2px solid $primary;
  &:hover{
    color: $primary !important;
    border-bottom: 3px solid $secondary;
    /* border-top: 3px solid $secondary; */
    //.nav-link{}
    transform: rotate(3deg) scale(1.1);
  }

  }
/* } */
