<div class="left-container">
    <h1><b>‎ Botola ‎Batalz</b></h1>
        <a class= "btn first " href="#"> Dashboard</a>
        <a class="btn first" href="#">Buy more</a>
        <a class= "btn first" ref="#">Calendar</a>
        <div  class="calender">
    <input data-controller="flatpickr" data-flatpickr-inline="false" value="2018-07-22" style="height: 42px;px;width:100px;"></div>
        <hr />
        <a class= "btn first"   href="">Add league</a>

           <a class= "btn first" href="#">Log Out</a>
  <footer>
  <hr />
    <p><strong>Copyright &copy; 2024 Botola Batalz</strong></p>
  </footer>
    </div>
