<div class="left-container" data-controller="calendar">
    <h1><b>‎ Botola ‎Batalz</b></h1>
        <a class= "btn first " href="#"> Dashboard</a>
        <a class= "btn first" href="#" data-action="mouseover->calendar#openCalendar" >Calendar</a>
        <a class="btn first" href="#">Buy more</a>
      
    <input id="flatpickr" data-controller="flatpickr" data-flatpickr-inline="false" value="2018-07-22" style="height: 42px;px;width:100px;display:none;">
  
        <hr />
        <a class= "btn first"   href="">Add league</a>

           <a class= "btn first" href="#">Log Out</a>
  <footer>
  <hr />
    <p><strong>Copyright &copy; 2024 Botola Batalz</strong></p>
  </footer>
    </div>
