<div class="left-container" data-controller="calendar">
    <h1>HI COACH <%= current_user.email.capitalize%> !</h1>
        <a class= "btn first"   href="">The Starting squad</a>
        <a class= "btn first"   href="">The Bench</a>
        <a class= "btn first" href="#" >My Budget <p> &nbsp; - &nbsp; &nbsp;  <%= current_user.teams.where(league: @league).first.budget %> </p> </a>
      
    <input id="flatpickr" data-controller="flatpickr" data-flatpickr-inline="true" value="<%= Date.today %>" style="height:42px;width:100px;display:none;">
  <footer>
  <hr />
    <p><strong>Copyright &copy; 2024 Botola Batalz</strong></p>
  </footer>
    </div>
