<div class="left-container" data-controller="calendar">
    <h1>Welcome to your dashboard !</h1>
        <a class= "btn first"   href="">The Starting squad</a>
        <a class= "btn first"   href="">The Bench</a>
        <a class= "btn first" href="#" data-action="mouseover->calendar#openCalendar" >Calendar</a>
      
    <input id="flatpickr" data-controller="flatpickr" data-flatpickr-inline="false" value="<%= Date.today %>" style="height: 42px;px;width:100px;display:none;">
  <footer>
  <hr />
    <p><strong>Copyright &copy; 2024 Botola Batalz</strong></p>
  </footer>
    </div>
