<div id="league-show"  >



<div class="main-container">

<%= render "left"  %>

    <div class="right-container">
    <div class="score">

    </div>
    <div class= "tableau-ground">
      <div class="ground">
      </div>

   <div class="tableau">
   </div>
</div>
</div>
</div>
