.super-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100vw;
  .left-container {
    width: 80vw;
  }
/* General styling for the right container */
.right-container {
  img{margin:0 auto;
      display:block;
      border-radius: 100%;
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: 10px;
  position: fixed;
  top: 118px;
  right: 20px;
  width: 300px;
  height: 80vh;
  overflow-y: auto;
}

/* Styling for the shop info section */
.shopinfo {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.shopinfo h4 {
  color: #333333;
  margin-bottom: 10px;
}

.shopinfo h6 {
  color: #555555;
}

/* Styling for the shop details section */
.shopdetails {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.shopdetails h6 {
  color: #555555;
  margin-top: 20px;
}

.btn-buy-player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px 0;
}

/* Style for delete button */
.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btn-danger:hover {
  background-color: white;
  color: #dc3545;
  border: 1px solid #dc3545;
}

}

.card-container {
  display: flex;
  justify-content: start;
  width: 80vw;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-img-top {
  object-fit: contain;
  margin: 14px;
  display: flex;
  width: 210px;
  height: 180px;
  border-radius: 5%;
  box-shadow: 1px 1px 3px grey;
}

.card {
  margin: 16px;
  padding: 0px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 10px grey;
}

.row {
  padding: 0px;
}

.d-flex {
  background-color: white;
  box-shadow: 4px 4px 10px grey;
}

.btn {
  background-color: 1C7C54;
  color: white;
  text-shadow:2ch;
}

// .col-auto {
//   width: 20px;
//   color: #1C7C54;
//   margin: 10px;
//   border-radius: 10px;
//   background-color: white;
//   box-shadow: 4px 4px 10px grey;
//   font-weight: bold;
// }
